/neo4jDB-populator/.idea/
/.ipynb_checkpoints
/neo4jDB-populator/.ipynb_checkpoints
/neo4jDB-populator/random_italian_things/.ipynb_checkpoints
/neo4jDB-populator/password.txt
/neo4jDB-populator/random_italian_things/utils/.ipynb_checkpoints
/deliverables/.ipynb_checkpoints
