<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<style>
  .text_class {
  font-family: 'Ubuntu', sans-serif;
  }
</style>

<h1 class=text_class>Log in to your personal area </h1>
<main>
  <h3>
  <form class=text_class action="../personal_area/" method = "post">
    <input type="text" placeholder="insert your tax code here" name = "tax_code">
    <input type="password" placeholder="password" name = "password">
    <button type="submit">login</button>
  </form>
  </h3>
</main>