<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
  .folder_vaccines {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #805D93;
    background: #805D93;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }
    .folder_certificates {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #169873;
    background: #169873;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }

  .folder_tests {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #F76E68;
    background: #F76E68;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }
    .text_class {
      font-family: 'Montserrat', sans-serif;
    }

</style>
<h1 class=text_class> Welcome to your personal area, {{ value }}</h1>
<div class=text_class>
  <form action="/tests/" method="post">
    <button class=folder_tests type="submit" >TESTS</button>
  </form>
  <form action="/certificates/" method="post">
    <button class=folder_certificates type="submit">CERTIFICATES</button>
  </form>
  <form action="/vaccines/" method="post">
    <button class=folder_vaccines type="submit">VACCINES</button>
  </form>
</div>
