<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
    .folder_tests {
      width: 300px;
      height: 200px;
      display: inline-block;
      margin: auto;
      position: relative;
      background-color:  #F76E68;
      border:None;
      border-radius: 0 10px 10px 10px;
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
      margin-bottom: 5px;
      margin-top: 12px;
      cursor: pointer;
    }

    .folder_tests:before {
      content: '';
      width: 50%;
      height: 1em;
      border-radius: 10px 20px 0 0;
      background-color:  #F76E68;
      border:None;
      position: absolute;
      top: -0.9em;
      left: 0px;
      cursor: pointer;
    }

    .folder_vaccines {
      width: 300px;
      height: 200px;
      display: inline-block;
      margin: auto;
      position: relative;
      background-color: #805D93;
      border:None;
      border-radius: 0 10px 10px 10px;
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
      margin-bottom: 5px;
      margin-top: 12px;
      cursor: pointer;
    }

    .folder_vaccines:before {
      content: '';
      width: 50%;
      height: 1em;
      border-radius: 10px 20px 0 0;
      background-color: #805D93;
      border:None;
      position: absolute;
      top: -0.9em;
      left: 0px;
      cursor: pointer;
    }

    .folder_certificates {
      width: 300px;
      height: 200px;
      display: inline-block;
      margin: auto;
      position: relative;
      background-color: #169873;
      border:None;
      border-radius: 0 10px 10px 10px;
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
      margin-bottom: 5px;
      margin-top: 12px;
      cursor: pointer;
    }

    .folder_certificates:before {
      content: '';
      width: 50%;
      height: 1em;
      border-radius: 10px 20px 0 0;
      background-color: #169873;
      border:None;
      position: absolute;
      top: -0.9em;
      left: 0px;
      cursor: pointer;
    }

  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    }

  @keyframes background-color {
    100% {
      opacity: 75%;
    }
  }

  .text_class {
    font-family: 'Montserrat', sans-serif;
  }
  </style>
<h1 class=text_class> Welcome to your personal area, {{ value }}</h1>
<div class=text_class>
  <form action="/tests/" method="post">
    <button class=folder_tests type="submit" >TESTS</button>
  </form>
  <form action="/certificates/" method="post">
    <button class=folder_certificates type="submit">CERTIFICATES</button>
  </form>
  <form action="/vaccines/" method="post">
    <button class=folder_vaccines type="submit">VACCINES</button>
  </form>
</div>