<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<style>
  .folder_vaccines {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #805D93;
    background: #805D93;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }
    .folder_certificates {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #169873;
    background: #169873;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }

  .folder_tests {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #F76E68;
    background: #F76E68;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  }
    .text_class {
      font-family: 'Ubuntu', sans-serif;
    }
  }
</style>
<h1 class=text_class> Welcome to your personal area, $parametro!</h1>
<div>
  <button class=folder_vaccines type="sumbit">VACCINES</button>
  <button class=folder_tests type="sumbit">TESTS</button>
  <button class=folder_certificates type="sumbit">CERTIFICATES</button>
</div>