<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

<style>
  .negative_test {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #404040;
    background: #7AFF71;
    color: #404040;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  }
  .positive_test {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #404040;
    background: #FF6F69;
    color: #404040;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  }
  .document_inside {
    top: 10px;
    width: 410px;
    height: 300px;
    margin: 20px;
    position: relative;
    color: #404040;
  }
  .text_class {
      font-family: 'Montserrat', sans-serif;
    }
</style>


<h1 class=text_class> Here you can find your tests.</h1>
<h2 class=text_class> Green coloured tests are negative tests, red otherwise.</h2>
<div class="text_class">
  <div class=negative_test>
    <div class=document_inside></div>
  </div>
</div>