<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

<style>
  .document {
    width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10% 10% 10% 10%;
    border-color: #39EDC0;
    background: #39EDC0;
    color: #404040;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  }
  .document_inside {
    top: 10px;
    width: 410px;
    height: 450px;
    margin: 20px;
    position: relative;
    color: #404040;
  }
  .text_class {
    font-family: 'Montserrat', sans-serif;
  }

</style>
<h1 class=text_class>Here there are all your vaccinations</h1>
<div class="text_class">

</div>